#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

.container ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container ul {
  border: 2px solid white;
}

.container ul {
  padding: 5rem;
  border-radius: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap:1rem
}