#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1, h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

.breaked {
  background-color: #0f5135;
  aspect-ratio: 1;
  color: white;
  font-size:5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

span {
  font-size: 3rem;
}